<style>
    .admin-footer{
        height: 4rem;
        background: #232323;
        color: #fefeeb;
        font-size: 10px;
    }
    .admin-footer p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
</style>


<div class="admin-footer">
    <p>Copyright Wuzzy’s Toy 2024. All right reserved</p>
</div>