<style>
    .admin-nav {
        display: flex;
        justify-content: center;
    }

    .logo-container {
        display: flex;
        align-items: center;
        width: 95vw;
        background: #232323;
        margin-top: 2vw;
        height: 5vw;
        border-radius: 20px;
        justify-content: space-between;
    }

    .logo-container h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 3vw;
        color: #fefeeb;
    }

    .admin-profile-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        color: #fefeeb;
    }

    .bi-person-circle {
        font-size: 2rem;
    }

    /* Media Queries */
    
    @media (max-width: 768px) {
        .logo-container {
            flex-direction: column;
            height: auto;
            padding: 1vw 0;
        }

        .logo-container h3 {
            font-size: 1.2rem;
            margin-left: 0;
        }

        .admin-profile-icon {
            margin-right: 0;
            margin-top: 1rem;
        }
    }

    @media (max-width: 480px) {
        .logo-container {
            width: 100vw;
            margin-top: 1vw;
            padding: 2vw 0;
        }

        .logo-container h3 {
            font-size: 1rem;
            text-align: center;
            margin-left: 0;
        }

        .admin-profile-icon {
            margin-right: 0;
            margin-top: 1rem;
        }

        .bi-person-circle {
            font-size: 1.5rem;
        }
    }
</style>

<!-------------------------------------------- Admin Navbar ------------------------------------------------->

<div class="admin-nav">
    <div class="logo-container">
        <h3 class="text-white">Wuzzy’s Toys</h3>
        <a href="" class="admin-profile-icon">
            <i class="bi bi-person-circle"></i>
        </a>
    </div>
</div>



<%- include('alert') %>