<style>
    .admin-nav {
        display: flex;
        justify-content: center;
    }

    .logo-container {
        display: flex;
        align-items: center;
        width: 95vw;
        background: #232323;
        margin-top: 2vw;
        height: 5vw;
        border-radius: 20px;
        justify-content: space-between;
    }

    .logo-container h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 3vw;
    }

    .admin-profile-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        color: #fefeeb;
    }

    .bi-person-circle {
        font-size: 2rem;
    }
</style>

<!-------------------------------------------- Admin Navbar ------------------------------------------------->

<div class="admin-nav">
    <div class="logo-container">
        <h3 class="text-white">Wuzzy’s Toys</h3>
        
        <a href="" class="admin-profile-icon">
            <i class="bi bi-person-circle"></i>
        </a>
    </div>
</div>


<%- include('alert') %>