<style>
    .alert-container{
        background: #fefeeb;
    }
</style>

<!-------------------------------------------- Falsh Alert ------------------------------------------------->

    <% if(success.length> 0) { %>
        <div class="alert-container">
            <div class="alert d-flex justify-content-between" role="alert">
                <h5>
                    <%= success %>
                </h5>
                <button class="btn btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
        <% } %>
            <% if(error.length> 0) { %>
                <div class="alert-container ">
                    <div class="alert alert-error d-flex justify-content-between" role="alert">
                        <h5>
                            <%= error %>
                        </h5>
                        <button class="btn btn-close" data-bs-dismiss="alert"></button>
                    </div>
                </div>
                <% } %>

<!------------------------ After 5 sec the flash will disable -------------------------->

<script>

    const alertDuration=5000;
    setTimeout(()=>{
        document.getElementsByClassName('alert-container')[0].style.display='none'
    },alertDuration)

</script>