<style>
    .home-category-text {
        font-family: 'Rochester', cursive;
        padding: 2rem;
    }

    .home-category-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3rem;
    }

    .category-item {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        padding: 0;
    }

    .category-item a {
        text-decoration: none;
    }

    .product {
        background-color: #232323;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s;
        width: 100%;
        max-width: 300px;
        max-height: 500px;
    }

    .product img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product p {
        padding: 10px;
        margin: 0;
    }

    .product:hover {
        transform: scale(1.05);
    }
</style>



<div class="container text-center my-4" id="Category">
    <h1 class="text-white home-category-text">Our Products</h1>
    <div class="row home-category-items">
        <div class="col-12 col-md-6 col-lg-4 category-item">
            <a href="#">
                <div class="product">
                    <img src="/public/assets/Category/All-product.avif" alt="All Toys" class="img-fluid">
                    <p class="text-white">All Toys</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 category-item">
            <a href="#">
                <div class="product">
                    <img src="/public/assets/Category/Toy Cars.png" alt="Toy Cars" class="img-fluid">
                    <p class="text-white">Toy Cars</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 category-item">
            <a href="#">
                <div class="product">
                    <img src="/public/assets/Category/Soft-toy.avif" alt="Soft Toys" class="img-fluid">
                    <p class="text-white">Soft Toys</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 category-item">
            <a href="#">
                <div class="product">
                    <img src="/public/assets/Category/Charactor-Toy.png" alt="Character Toy" class="img-fluid">
                    <p class="text-white">Character Toy</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 category-item">
            <a href="#">
                <div class="product">
                    <img src="/public/assets/Category/Doll-toys.png" alt="Dolls" class="img-fluid">
                    <p class="text-white">Dolls</p>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 category-item">
            <a href="#">
                <div class="product">
                    <img src="/public/assets/Category/puzzle.jpg" alt="Puzzle" class="img-fluid">
                    <p class="text-white">Puzzle</p>
                </div>
            </a>
        </div>
    </div>
</div>