<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 100px);
        /* padding: 40px; */
        box-sizing: border-box;
    }

    .reset-container {
        background: url('/public/assets/Forget-password.avif');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px;
        border-radius: 10px;
        text-align: center;
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reset-container h1 {
        font-family: Poppins;
        color: #1a1a1a;
        font: bold;
        margin-bottom: 3rem;
    }

    .reset-container p {
        margin-bottom: 3rem;
        color: #232323;
    }

    .reset-container input {
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
    }

    .reset-container button {
        background-color: #db4437;
        color: #fefeeb;
        padding: 10px 20px;
        margin: 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .reset-container .resend {
        color: #fefeeb;
        margin-top: 20px;
    }

    .reset-container button:hover {
        background: #f55;
    }

    .reset-container .resend a {
        color: #db4437;
        text-decoration: none;
    }

    .forget-resend :hover {
        color: #f55;
    }
</style>



<%- include('navbar') %>

    <main>
        <div class="reset-container">
            <h1>Reset Your Password</h1>
            <p>Don’t worry. It happens. Please enter the Email to reset your password.</p>
            <form action="/user/forgotpassword" method="post" id="forgot-form">
                <input type="email" class="form-control form-input" id="email-forgotpass" name="email"
                    placeholder="Email Address" required>
                <button type="submit" class="btn submit-btn">Enter email</button>
            </form>
        </div>
    </main>

    <%- include('footer') %>

        <!-------------------------------- password validate ---------------------------------->

        <script>
            document.getElementById('forgot-form').addEventListener('submit', (e) => {

                const email = document.getElementById('email-forgotpass').value

                if (email.trim() === "") {
                    e.preventDefault()
                }
            })


        </script>