<style>
    .user-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem;
    }

    .user-login-container {
        display: flex;
        flex-direction: row;
        background-color: #232323;
        border-radius: 10px;
        color: #fefeeb;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .image-container img {
        width: 350px;
        height: 375px;
        object-fit: cover;
        border-radius: 26px;
    }

    .form-container {
        width: 550px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .form-container h2 {
        margin: 0 0 20px 0;
        padding-top: 10px;
    }

    .form-container form {
        display: flex;
        flex-direction: column;
    }

    .user-login-input {
        padding: 3px;
        margin-bottom: 10px;
        width: 100%;
        height: 3rem;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid #ffffff;
        color: #fefeeb;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        -webkit-text-fill-color: #fff;
        transition: background-color 5000s ease-in-out 0s;
    }

    .forgot-password {
        text-align: right;
        margin-bottom: 20px;
    }

    .forgot-password a {
        color: #db4437;
        text-decoration: none;
    }

    .forgot-password a:hover {
        color: #f55;
    }

    .user-login-button {
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;
        background-color: #db4437;
        color: #fff;
        cursor: pointer;
    }

    .user-login-button:hover {
        background-color: #f55;

    }

    .divider {
        text-align: center;
        margin-bottom: 20px;
        position: relative;
    }

    .divider span {
        background-color: #1A1A1A;
        padding: 0 10px;
        position: relative;
        z-index: 1;
    }

    .divider::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #fefeeb;
        z-index: 0;
    }

    .social-login {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .social-login a {
        width: 100%;
        text-decoration: none;
    }

    .social-login button {
        flex: 1;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin: 0 5px;
        cursor: pointer;
    }

    .social-login .facebook {
        background-color: #0866FF;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 95%;
    }

    .facebook:hover {
        background-color: #4285F4;
    }

    .social-login .google {
        background-color: #db4437;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 95%;
    }

    .google:hover {
        background-color: #f55;

    }

    .signup-link {
        text-align: center;
    }

    .signup-link a {
        color: #db4437;
        text-decoration: none;
    }

    .signup-link a:hover {
        color: #f55;
    }
</style>




<%- include('navbar') %>

    <!-------------------------------------------- User Login Page ------------------------------------------------->

    <div class="user-login">
        <div class="user-login-container">
            <div class="image-container">
                <img src="/public/assets/login-img.jpg">
            </div>
            <div class="form-container">
                <form action="/user/login" method="post">
                    <h2>Log in to Exclusive</h2>
                    <input class="user-login-input" type="text" name="email" placeholder="Email or Phone Number"
                        required>
                    <input class="user-login-input" type="password" name="password" placeholder="Password" required>
                    <div class="forgot-password">
                        <a href="/user/forgotPassword">Forget Password?</a>
                    </div>
                    <button class="user-login-button" type="submit">Log In</button>
                </form>
                <div class="divider">
                    <span>Or Continue With</span>
                </div>
                <div class="social-login">
                    <a href="#">
                        <button class="facebook"><i class="bi bi-facebook"></i>Facebook</button>
                    </a>
                    <a href="/user/auth/google">
                        <button class="google"><i class="bi bi-google"></i>Google</button>
                    </a>
                </div>
                <div class="signup-link">
                    <p>Don't you have an account? <a href="/user/signup">Signup</a></p>
                </div>
            </div>
        </div>
    </div>


    <%- include('footer') %>