<style>
    .user-nav {
        display: flex;
        justify-content: center;
    }

    .user-navbar {
        display: flex;
        align-items: center;
        width: 95vw;
        background: #232323;
        margin-top: 2vw;
        height: 5vw;
        border-radius: 20px;
        justify-content: space-between;
    }

    .user-navbar h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 5vw;
    }

    .search-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fefeeb;
        border-radius: 8px;
    }

    .form-input {
        background-color: #fefeeb;
    }

    .form-input:focus {
        background-color: #fefeeb;
    }

    .user-profile-icon svg {
        margin-right: 2rem;
        color: #fefeeb;
        width: 2.5rem;
        height: 2.5rem;
    }

    .user-nav-icon {
        display: flex;
        list-style: none;
        gap: 4rem;
        margin-top: 1rem;
        align-items: center;
    }

    .user-nav-icon li a {
        color: #fefeeb;
        text-decoration: none;
        font-size: 1.2em;
    }

    .user-nav-icon li a:hover {
        color: #BEBEB6;
    }

    .user-login-btn {
        background: #fefeeb;
        color: #232323;
        margin-right: 1rem;
    }

    .user-login-btn:hover {
        background: #f55;
        color: #fefeeb;
    }

    /*------------- when user is login then prodile icon ---------------------*/

    .user-login-icon {
        color: #fefeeb;
        margin-right: 2rem;
        cursor: pointer;
    }

    .sidebar {
        height: 70%;
        width: 250px;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #232323;
        transition: right 0.3s ease;
        box-shadow: 0 0 20px #000000;
        z-index: 10;
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        margin-top: 2rem;
        margin: 0;
        padding: 0;
        gap: 1rem;
        color: #fefeeb;

    }

    .sidebar ul li {
        width: 90%;
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 700;
        transition: .3s ease-in-out;
    }

    .sidebar ul li:hover {
        border: 1px solid #fefeeb;
    }

    .sidebar ul li a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #fefeeb;
    }

    .toggle-btn {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    #go-back-home {
        background-color: #707070;
        color: #ffffff;
    }

    .dropdown a {
        color: #fefeeb;
        background: #232323;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }

    .dropdown-menu {
        background: #232323;
        border-radius: 10px;
    }

    .badge {
            background-color: red;
            color: white;
            padding: 3px 7px;
            border-radius: 50%;
            font-size: 0.8em;
            position: relative;
            top: -10px;
            right: 10px;
        }

</style>


<!-------------------------------------------- User Navbar  ------------------------------------------------->

<div class="user-nav">
    <div class="user-navbar">
        <h3 class="text-white">Wuzzy’s Toys</h3>
        <form action="" class="search-nav">
            <input type="text" name="search" class="form-input form-control" placeholder="search">
            <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <ul class="user-nav-icon">
            <li><a href="/">Home</a></li>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Category</a>
                <div class="dropdown-menu">
                    <a href="/user/allproduct" class="dropdown-item">All Toys</a>
                    <a href="/user/product/Toy Cars" class="dropdown-item">Toy Cars</a>
                    <a href="/user/product/Soft Toys" class="dropdown-item">Soft Toys</a>
                    <a href="/user/product/Charactor Toy" class="dropdown-item">Character Toy</a>
                    <a href="/user/product/Doll" class="dropdown-item">Doll</a>
                    <a href="/user/product/Puzzle" class="dropdown-item">Puzzle</a>
                </div>
            </div>
            <li><a href="#footer">About</a></li>
            <li><a href="#">Contact</a></li>
            <% if (user) { %>
                <li><a href="/user/wishlist"><i class="fa fa-heart"></i><span id="wishlist-count" class="badge"></span></a></li>
            <% } else { %>
                <li><a href="#" onclick="wishlistClick(event)"><i class="fa fa-heart"></i></a></li>
            <% } %>
            <% if (user) { %>
                <li><a href="/user/cart"><i class="fa fa-shopping-cart"></i><span id="cart-count" class="badge"></span></a></li>
            <% } else { %>
                <li><a href="#" onclick="handleCartClick(event)"><i class="fa fa-shopping-cart"></i></a></li>
            <% } %>
        </ul>

        <!--------------------------- Check the user is login or not , Based on that the icon will change ----------------------------------->

        <% if (user) { %>
            <span class="nav-link-items user-login-icon" onclick="toggleSidebar()"><i
                    class="fa-solid fa-user"></i></span>
                    <div class="sidebar" id="sidebar">
                        <ul>
                            <li id="go-back-home" onclick="toggleSidebar()"><span><i class="fas fa-chevron-left"></i> Go Back</span></li>
                            <li><a href="/user/profile"><i class="fas fa-user-circle"></i> View Profile</a></li>
                            <li><a href="/user/orders"><i class="fas fa-list-alt"></i> My Orders</a></li>
                            <li><a href="#"><i class="fas fa-ban"></i> Cancelled Orders</a></li>
                            <li><a href="/user/forgotpassword"><i class="fas fa-key"></i> Reset Password</a></li>
                            <li><a href="/user/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
                        </ul>
                    </div>
                    
            <% } else { %>
                <a href="/user/login" class="btn btn-outline-secondary user-login-btn">Login</a>
                <% } %>
    </div>
</div>

<%- include('alert') %>

    <!------------------------ toggle side bar -------------------------------->

    <script>

        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            if (sidebar.style.right === '' || sidebar.style.right === '-300px') {
                sidebar.style.right = "0";
            } else {
                sidebar.style.right = "-300px";
            }
        }

//--------------- when user login only then we can go to cart ---------------------

function handleCartClick(event) {
            event.preventDefault();
            Swal.fire({
                icon: 'warning',
                title: 'Please Login',
                text: 'You need to login to access your cart.',
                showCancelButton: true,
                confirmButtonText: 'Login',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/user/login';
                }
            });
        }

//--------------- when user login only then we can go to Wishlist ---------------------

function wishlistClick(event) {
            event.preventDefault();
            Swal.fire({
                icon: 'warning',
                title: 'Please Login',
                text: 'You need to login to access your Wishlist.',
                showCancelButton: true,
                confirmButtonText: 'Login',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/user/login';
                }
            });
        }

    //--------------------- item count of wishlist and cart ---------------------------

    async function fetchCounts() {
            try {
                const response = await fetch('/user/getCounts');
                const data = await response.json();
                document.getElementById('wishlist-count').textContent = data.wishlistItemsCount;
                document.getElementById('cart-count').textContent = data.cartItemsCount;
            } catch (error) {
                console.error('Error fetching counts:', error);
            }
        }

        setInterval(fetchCounts, 3000);

        document.addEventListener('DOMContentLoaded', fetchCounts);
    </script>