body{
    background: #1a1a1a;
}

/*-------------------------------------- button style ------------------------------*/

.submit-btn{
    background-color: #DB4444;
    color: #Fefeeb;
}

.submit-btn:hover{
    transform: scale(1.02);
    background-color: #f55;
    color: #Fefeeb;
}

.submit-btn-light{
    background-color: #DB4444;
    color: #fefeeb;
}

.submit-btn-light:hover{
    transform: scale(1.02);
    background-color: #f55;
    color: #fefeeb;
}


/*--------------------------------- Breadcrumbs ---------------------------------*/

.breadcrumbs {
    font-size: 16px;
    height: 5rem;
    width: 13rem;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: 10rem;
}

.breadcrumbs ul {
    list-style-type: none;
    display: flex;
}

.breadcrumbs ul span {
    color: #fefeeb;
    margin: 0rem 1rem;
}

.breadcrumbs li:last-child {
    font-weight: bold;
}

.breadcrumbs a {
    text-decoration: none;
    color: #fefeeb;
}

.breadcrumbs a:hover {
    color: #f55;
}

/*------------------------------- Line stylel ---------------------------------*/

.home-line-div{
    display: flex;
    justify-content: center;
}
.home-line-div hr {
    width: 80%;
    border: 0;
    height: 3px;
    background: #ffffff;
    margin-top: 4rem;
}